.header {
  background-color: #769FB6;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  z-index: 3; }

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }

.header li a {
  font-family: 'Rampart One', cursive;
  display: block;
  color: #272727;
  padding: 20px 20px;
  text-decoration: none; }

.header li a:hover,
.header .menu-btn:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.header .logo {
  font-family: 'Rampart One', cursive;
  color: #E2DBBE;
  display: block;
  float: left;
  font-size: 22px;
  padding: 12px 20px;
  text-decoration: none; }

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  /*esto no es un error, funciona en pantalla de movil*/
  float: right;
  /*==================================================*/
  padding: 28px 20px;
  position: relative;
  user-select: none; }

.header .menu-icon .navicon {
  background: #593928;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ed8a2e;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%; }

.header .menu-icon .navicon:before {
  top: 5px; }

.header .menu-icon .navicon:after {
  top: -5px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 340px; }

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

@media only screen and (max-width: 768px) {
  .header ul {
    background-color: #E2DBBE; }
  .header li a {
    padding: 15px;
    border-bottom: 1px dotted #ddd; } }

@media only screen and (min-width: 768px) {
  .menu-wrapper {
    background: #769FB6;
    height: 55px;
    line-height: 55px;
    width: 100%; }
  .header li {
    float: left; }
  .header .logo {
    line-height: 1; }
  .header li a {
    color: #E2DBBE;
    padding: 0px 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  .header .menu-icon {
    display: none; } }

footer {
  background-color: #769FB6;
  margin: 10px 0 0 0; }
  footer .container-footer {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); }
    footer .container-footer div.redes {
      display: flex;
      justify-content: center; }
      footer .container-footer div.redes li {
        font-family: 'Lobster', cursive;
        color: #E2DBBE;
        list-style: none;
        padding: 6px; }
        footer .container-footer div.redes li a {
          text-decoration: none;
          color: #161616; }
        footer .container-footer div.redes li a:hover {
          color: #0d5c8a; }
      footer .container-footer div.redes ul {
        margin: 0;
        padding: 0; }
    footer .container-footer .horarios h5 {
      font-family: 'Lobster', cursive;
      text-align: center; }
    footer .container-footer .horarios .horarios-texto {
      font-family: 'Lobster', cursive;
      text-align: center;
      padding: 0;
      margin: 0; }
    footer .container-footer div.menu {
      display: flex;
      justify-content: center; }
      footer .container-footer div.menu li {
        font-family: 'Lobster', cursive;
        color: #E2DBBE;
        list-style: none;
        padding: 6px; }
        footer .container-footer div.menu li a {
          text-decoration: none;
          color: #161616; }
        footer .container-footer div.menu li a:hover {
          color: #0d5c8a; }
      footer .container-footer div.menu ul {
        margin: 0;
        padding: 0; }
  footer div.mapa {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    footer div.mapa iframe {
      width: 80%;
      height: 140px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  border: 0;
  padding: 0; }

div.fondo {
  background-color: #E2DBBE; }

div.burguer-fondo {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 66vh;
  margin: auto; }

h1 {
  font-family: 'Rampart One', cursive;
  color: #E2DBBE;
  text-align: center;
  background-color: #769FB6;
  margin: 0 0 12px 0;
  padding: 0 0 10px 0; }

.mas-pedidas {
  margin: 0 200px 0 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 50px; }
  .mas-pedidas .burguer {
    width: 200px;
    margin: 0 50px 0 50px; }
    .mas-pedidas .burguer img {
      width: 160px;
      height: 160px;
      display: block;
      margin: 0 auto; }
    .mas-pedidas .burguer .burguer-info h2 {
      text-align: center;
      margin: 0;
      font-size: 26px; }
    .mas-pedidas .burguer .burguer-info h3 {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      padding: 10px;
      margin: 0; }
  .mas-pedidas .burguer:hover {
    transform: scale(1.3, 1.3); }

.barra {
  background-color: #769FB6;
  margin: 12px 0 0 0;
  height: 56.45px; }

div.carousel {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center; }
  div.carousel img {
    width: 1100px;
    height: 480px; }

.burguer-container {
  margin: 50px 200px 50px 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px; }
  .burguer-container .burguer {
    width: 200px;
    margin: 0 50px 0 50px; }
    .burguer-container .burguer img {
      width: 160px;
      height: 160px;
      display: block;
      margin: 0 auto; }
    .burguer-container .burguer .burguer-info h2 {
      text-align: center;
      margin: 0;
      font-size: 26px; }
    .burguer-container .burguer .burguer-info h3 {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      padding: 10px;
      margin: 0; }
  .burguer-container .burguer:hover {
    transform: scale(1.3, 1.3); }

div.bebida-container {
  margin: 50px 200px 50px 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px; }
  div.bebida-container img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto; }
  div.bebida-container .bebida-info h2 {
    text-align: center;
    margin: 0;
    padding: 4px; }

p {
  text-align: center; }

.div-local {
  padding-bottom: 16px;
  text-align: center; }
  .div-local .img-local {
    width: 50%;
    height: auto;
    border-radius: 15px; }

form {
  display: block;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 200px 0 200px; }
  form .boton {
    align-self: center;
    text-align: center;
    background-color: #769FB6;
    width: 100px;
    margin: 24px 0 0 0; }

@media only screen and (max-width: 1024px) {
  div.encabezado {
    background-color: #769FB6; }
    div.encabezado strong {
      font-family: 'Rampart One', cursive;
      color: #E2DBBE;
      font-size: 3em;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0; }
  .fondo-div {
    height: 0px;
    padding-bottom: 56.25%;
    position: relative; }
    .fondo-div .burguer-fondo {
      background-image: url(../img/fondo-media-queries.jpeg);
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
  div.mas-pedidas {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    div.mas-pedidas .burguer {
      margin: 0; }
  div.carousel {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center; }
    div.carousel img {
      width: 500px;
      height: 180px; }
  div.burguer-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    div.burguer-container .burguer {
      margin: 0; }
  div.bebida-container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .div-local {
    padding-bottom: 16px;
    text-align: center; }
    .div-local .img-local {
      width: 80%;
      height: auto;
      border-radius: 15px; }
  form {
    display: block;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px; }
    form .boton {
      align-self: center;
      text-align: center;
      background-color: #769FB6;
      width: 100px;
      margin: 6px 0 0 0; }
  div.mapa iframe {
    width: 80%;
    height: 80px; } }
